# Dependencies
node_modules
npm-debug.log

# Git
.git
.gitignore

# IDE
.idea
.vscode

# Build
dist
build

# Environment
.env
.env.*

# Tests
coverage
.nyc_output
test

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
.DS_Store
*.md
!README.md 